---
import { GoogleGenerativeAI } from "@google/generative-ai";
interface Props {
	promp: string;
}

const { promp } = Astro.props;

const genAI = new GoogleGenerativeAI(import.meta.env.apiKey);

const model = genAI.getGenerativeModel({ model: "gemini-1.5-flash" });
const result = await model.generateContent(promp);
const response = result.response;
const text = response.text();
---

<h3>
	<p class="text-white">El chiste del día es: {text}</p>
</h3>
<style></style>
